*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animacion{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    animation: estilo 6s;
    }
    @keyframes estilo {
        0% {background-color:red;}
        25% {background-color:blue;}        
        50% {background-color:green;}        
        75% {background-color:brown;}
        100% {background-color:yellow;}
    }
