*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 200px;
    height: 200px;
}

.normal{
    background-color: red;
}

.rotado{
    background-color: blue;
    transform: rotate(30deg);
}